---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-5xl">Playground</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit at
    nesciunt rem facilis unde amet consequatur impedit tenetur animi adipisci
    non ex, labore cupiditate nam minus similique laborum debitis et.
  </p>
</Layout>
