---
import {
  Navbar,
  NavbarLogo,
  NavbarNav,
  NavbarActions,
} from "@components/navbar";

const menu = [
  { href: "#", title: "Home" },
  {
    href: "#",
    title: "Dropdown",
    submenu: [
      { href: "#", title: "Option 1" },
      { href: "#", title: "Option 2" },
      { href: "#", title: "Option 3" },
    ],
  },
  { href: "#", title: "About" },
  { href: "#", title: "Services" },
  { href: "#", title: "Contact" },
];
---

<Navbar className="border-b border-t border-gray-200">
  <NavbarLogo> Logo </NavbarLogo>
  <NavbarNav items={menu} />
  <NavbarActions>
    <a href="/login" class="btn btn-primary">Login</a>
  </NavbarActions>
</Navbar>
