---
import Default from "@astrojs/starlight/components/SocialIcons.astro";
import { Icon } from "@astrojs/starlight/components";
---

<!-- Add your custom link(s) here -->
<a
  href="https://kreativan.dev"
  target="_blank"
  style="margin-left: 1rem; font-weight: 600;"
  class="sl-link flex items-center gap-1"
>
  <Icon name="external" /> kreativan.dev
</a>

<a
  href="/playground"
  target="_blank"
  class="sl-link flex items-center gap-2"
  style="margin-left: 1rem; font-weight: 600;"
>
  <Icon name="rocket" /> Playground
</a>

<Default />
