/* Dark mode colors. */
:root {
  --sl-font: 'Bricolage Grotesque', serif;
  --sl-color-accent-low: #072d00;
  --sl-color-accent: #ff9d52;
  --sl-color-accent-high: #ff9d52;
  --sl-color-white: #ffffff;
  --sl-color-text-invert: #111;
  /*
  --sl-color-gray-1: #eaf0e8;
  --sl-color-gray-2: #c5cdc3;
  --sl-color-gray-3: #99a796;
  --sl-color-gray-4: #4f5c4d;
  --sl-color-gray-5: #303c2d;
  --sl-color-gray-6: #1f2a1c;
  --sl-color-black: #151a13;
  */
}

/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #4071f9;
  --sl-color-accent: #2a3d55;
  --sl-color-accent-high: #0d3e00;
  --sl-color-white: #151a13;
  --sl-color-text-invert: #fff;

  --starlight-link-color: #0058c5;
  --starlight-emphasis-color: #2a3d55;
  /*

  --sl-color-gray-1: #1f2a1c;
  --sl-color-gray-2: #303c2d;
  --sl-color-gray-3: #4f5c4d;
  --sl-color-gray-4: #82907f;
  --sl-color-gray-5: #bdc4bb;
  --sl-color-gray-6: #eaf0e8;
  --sl-color-gray-7: #f4f7f3;
  --sl-color-black: #ffffff;
  */
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--sl-font);
  letter-spacing: -1px;
  color: var(--starlight-emphasis-color);
}

h1,
h2 {
  font-weight: 900 !important;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
  font-weight: 600 !important;
}

#starlight__on-this-page {
  font-size: 24px;
}

ol {
  list-style: decimal;
  margin-left: 20px;
}

.sl-markdown-content a:not(:where(.not-content *)) {
  color: var(--starlight-link-color, var(--sl-color-accent));
}

.header .site-title span {
  font-family: var(--sl-font);
  font-weight: 900 !important;
  letter-spacing: -1.2px;
}