---
const components = [
  { href: "/playground/navbar", text: "Navbar" },
  { href: "/playground/button", text: "Button" },
  { href: "/playground/dropdown", text: "Dropdown" },
  { href: "/playground/accordion", text: "Accordion" },
  { href: "/playground/drawer", text: "Drawer" },
  { href: "/playground/observer", text: "Observer" },
  { href: "/playground/scroll", text: "Scroll" },
  { href: "/playground/submenu", text: "Submenu" },
  { href: "/playground/viewport-animations", text: "Viewport Animations" },
  { href: "/playground/sticky", text: "Sticky" },
];
---

<aside class="sidebar relative min-h-full">
  <h3 class="text-2xl">Components</h3>
  <nav class="mt-5">
    <ul class="space-y-2">
      {
        components.map((component) => (
          <li>
            <a href={component.href}>{component.text}</a>
          </li>
        ))
      }
    </ul>
  </nav>

  <a
    href="/"
    class="btn-btn-default absolute bottom-0 left-0 flex items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 mr-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 19l-7-7 7-7"></path>
    </svg>
    <span>Back to Home</span>
  </a>
</aside>
